@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
}

.sectionOne {
    display: flex;
    flex-direction: column;
    height: 505px;
    background-image: url(./img/headerBck.png);
    background-size: cover;
    padding: 0px 24px 0px 24px;
    gap: 24px;
    border: solid blue 2px;

}

.sectionOne>h1 {
    color: #FFFFFF;
    font-family: Luckiest Guy;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 4.31rem;
    border: solid red 2px;
    width: auto;
}

.sectionOne p {
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    border: solid rgb(0, 255, 60) 2px;
    width: auto;


}

.btn {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    width: auto;


    height: 3.37rem;
    border-radius: 28px;
    border: solid rgb(0, 174, 255) 2px;

}

#white {
    color: #23272A;
    background-color: #FFFFFF;
    max-width: auto;

}

#black {
    background-color: #23272A;
    color: #FFFFFF;
}

.sectionTwo, .sectionThree, .sectionFour, .sectionFive {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #FFFFFF;
    background-size: cover;
    gap: 27px;
    border: solid 2px rgb(212, 255, 0);
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
}

.sectionThree,
.sectionFive{
    background-color: #F6F6F6;
}

.sectionTwo h1,
.sectionThree h1,
.sectionFour h1,
.sectionFive h1 {
    color: #23272A;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    width: auto;
    border: solid 2px red;
}


.sectionTwo p,
.sectionThree p,
.sectionFour p,
.sectionFive p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #23272A;
    width: auto;
}

footer{
    height: 8rem;
    background-color: #23272A;
    display: grid;
    justify-content: center;
    align-items: center;
}